/* Home.css */

:root {
    --background-color: #3AAFA9;
    --text-color: #FFFFFF;
    --primary-text-color: #17252A;
    --secondary-text-color : #9C9C9C;
}

@font-face {
    font-family: 'Lulo';
    src: url('../../public/fonts/Lulo Clean/Lulo Clean One.otf') format('truetype');
}

@font-face {
    font-family: 'Trade';
    src: url('../../public/fonts/TradeGothic/TradeGothicLT-Extended.woff') format('woff');
}

@font-face {
    font-family: 'FuturaNew';
    src: url('../../public/fonts/Futura/FuturaLT.woff') format('woff');
}


body {
    padding:0;
    margin:0;
    background-color: var(--background-color);}/* background-color: #0E0B16; */

h1, h2, h3, h4, h5, h6, p, .h1, .h2, .h3, .h4, .h5, .h6, .p {
    margin-top: 0;
    margin-bottom: 0;
}

.first-block{
    margin-top: -105px;
    @media screen and (min-height: 648px) {
        min-height: calc(100vh); /* 85 px for nav and 20 px for padding */
    }
    @media screen and (max-height: 648px) {
        min-height: 648px; /* 85 px for nav and 20 px for padding */
    }
    display: flex;
    align-items: center; /* Align items at the start (top) */
    position: relative;
}

.first-contain{
    text-align: left;
}
.second-block{
    font-weight: 300;
    font-size: 1.5rem;
    background: #fff;
    color: rgba(0,0,0,.8);
    padding-top: 24px;
    padding-bottom: 24px;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,.2), 0px 2px 2px 0px rgba(0,0,0,.14), 0px 1px 5px 0px rgba(0,0,0,.12);
}

.home-container {
    /*text-transform: uppercase;*/
    font-family: 'FuturaNew', sans-serif;
    color: var(--text-color);

    display: flex;
    justify-content: left;
    padding: 0 calc((100vw - 1024px) / 2);
    align-items: center;
    font-size: 3.1rem;
    text-align: left;
    margin: auto;
    position: relative;
}

.text-primary {
    /*text-transform: uppercase;*/
    font-family: 'FuturaNew', sans-serif;
    color: var(--primary-text-color);

    display: flex;
    justify-content: left;
    padding: 0 calc((100vw - 1024px) / 2);
    font-size: 3.2rem;
    text-align: left;
    margin: auto;
    position: relative;
}
  